<div class="container ">
    <div class="row">
        <div class="col-12  mt-4 ">
            <h2>Contabilidad </h2>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 col-12">
            <!-- CARD PRIMARY -->
            <div class="card_primary mt-4">
                <div class="row">
                    <div class="col-12 d-flex mb-2">
                        <div class="content_icon_primary">
                            <img src="/assets/happiness.png" alt="user">
                        </div>
                        <div class="ml-auto title_card_info">
                            <p>
                                7
                                <br>
                                <a>Nuevos clientes</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-8 text-muted">
                        <p>
                            Ultimo registro: 15m
                        </p>
                    </div>
                    <div class="col-4 text-muted d-flex">
                        <p class="ml-auto">
                            Hoy
                        </p>
                    </div>
                </div>
            </div>
            <!-- ./CARD PRIMARY -->
        </div>
    </div>
</div>